# This file is made by Administration Tool.
#
# このファイルは管理ツールによって生成されたファイルです。
# ファイルの内容を変更すると正しく動作しなくなったり、
# 管理ツールで編集できなくなる可能性がございますのでご注意ください。
#
AuthUserFile /virtual/124.146.221.231/webuser/classof2023/private/welcome25th/.htpasswd
AuthName "Input ID and Password."
AuthType Basic
require valid-user
